*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	font-family: $mainFont; 
}

h1{
	@include titulos($textXl, $secondaryColor);
	text-align: center;
}

h2{
	@include titulos($textLg, $secondaryColor);
}

h3{
	@include titulos($textMd, $secondaryColor);
}

h4{
	@include titulos($textSm, $white);
}

body{
	background-image: url(../img/background.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}