@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

$mainFont:'Open Sans', sans-serif;


$textXs:0.9em;
$textSm:1.8em;
$textMd:2.2em;
$textLg:4em;
$textXl:7em;

$bold:500;
$regular:400;
$light:300;


.text-bold{
	font-weight: $bold;
}

.text-light{
	font-weight: $light;
}

.text-regular{
	font-weight: $regular;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}