
.nosotros__section{
		background-color: $mainColor;
		width: 95%;
		height: auto;
		margin: 50px auto;
		padding: 20px 30px;
		color: $white;
		font-size: $textSm;
		line-height: 3rem;
		border: double 5px rgba(197, 168, 128,0.5);
		box-sizing: border-box;	
}