.promociones__section{
		background-color: $mainColor;
		width: 70%;
		height: auto;
		margin: 40px auto;
		padding: 10px 20px;
		color: $white;
		font-size: $textSm;
		line-height: 3.5rem;	
		border: solid 5px rgba(197, 168, 128,0.5);
		box-sizing: border-box;
		text-align: center;
}

