<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>POSTDATA</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>	
	<nav>
		<h1>POSTDATA</h1>
		<a href="../index.html">
			<img src="../img/logo.png" alt="logo de POSTDATA">
		</a>
		<ul>
			<li>
				<a href="nosotros.html">Nosotros</a>
			</li>
			<li>
				<a href="promociones.html">Promociones</a>
			</li>
			<li>
				<a href="proveedores.html">Proveedores</a>
			</li>
			<li>
				<a href="contacto.html">Contacto</a>
			</li>
		</ul>
	</nav>
	<!-- ends nav -->
	<header>
		<img src="../img/header.jpg" alt="remeras varias de color liso">
		<h2 class="text-center section__titulo">Contacto</h2>
	</header>
	<!-- ends header -->
	<main>
		<section class="contacto__section">
			<form action="envio.php">
				<fieldset>
					<legend>Informacion personal</legend>
					<label for="nombre">Nombre:</label>
					<input type="text" name="nombre" placeholder="Mateo Gomez">
					<label for="email">Email:</label>
					<input type="email" name="email" placeholder="mateo@mail.com">
				</fieldset>
				<fieldset>
					<legend>Seccion</legend>
					<label for="ropa de hombre">Ropa de hombre</label>	<input type="checkbox" id="ropa de hombre" value="ropa de hombre">
					<div></div>
					<label for="ropa de mujer">Ropa de mujer</label>
					<input type="checkbox" id="ropa de mujer" value="ropa de mujer">
				</fieldset>
				<fieldset> 
					<legend>Envio</legend>
					<label for="local">Retiro en el local</label>
					<input type="radio" id="local" value="local" name="envio">
					<div></div>
					<label for="casa">Envio a domicilio</label>
					<input type="radio" id="casa" value="casa" name="envio">
					<div></div>
					<label for="localidad">Zona</label>
					<select name="" id="localidad">
						<option value="BsAs">Provincia de Bs As</option>
						<option value="CABA">Ciudad de Bs As</option>
						<option value="interior">Interior del pais</option>	
					</select>
				</fieldset>
				<label for="mensaje">Deje su mensaje</label>
				<div></div>
				<textarea name="" id="mensaje" cols="120" rows="10" placeholder="Ingrese su pedido o consulta"></textarea>
				<div></div>
				<input type="reset" name="Cancelar">
				<input type="submit" name="Enviar">
				
			</form>
		</section>

	</main>
	<footer class="pie">
		<h3>Seguinos en nuestras redes</h3>
		<a href="https://www.facebook.com" target="_blank">
			<img src="../img/facebook.png" alt="logo de facebook" class="pie__icon--sm">
		</a>
		<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.png" alt="logo de instagram" class="pie__icon--sm">
		</a>
		<img src="../img/telefono.png" alt="logo de whatsapp" class="pie__icon--sm"> 
		<h4 class="text-regular">011 5858-2444</h4>
		<img src="../img/reloj.png" alt="imagen de un reloj" class="pie__icon--sm"> 
		<h4 class="text-regular">Lunes a sabados 9:30 a 13:00 y 15:30 a 19:00</h4>
	</footer>

</body>
</html>